
.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img{
  width: 20px;
  height: 20px;
}


.card{
  min-width: 500px;
  min-height: 300px;
  max-width: 700PX;
  background: rgb(46, 42, 42);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
}
.card-quote{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-button{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 650px;
}

.card .card-button a img {
  width: 35px;
  height: 35px;
}

.card .card-button  button {
  color: #2E2A2A;
  cursor: pointer;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  width: 150px;
  height: 50px;
  font-family: 'K2D', sans-serif;
  font-weight: 700;
}

.card .card-quote .quote {
  font-family: 'K2D', sans-serif;
  font-size: 40px;
  font-style: italic;
}

.card .card-quote img {
  
}

.card  strong .author{
  font-size: 23px;
}



